In [1]:
import pandas as pd
data_files = [
    "sat_results.csv",
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    
]
data = {}
for i in data_files:
    data[i.split('.')[0]] = pd.read_csv(i)

In [2]:
print(type(data),len(data))

<class 'dict'> 6

####  we're mainly interested in is the SAT data set, which corresponds to the dictionary key sat_results. This data set contains the SAT scores for each high school in New York City. We eventually want to correlate selected information from this data set with information in the other data sets.

In [3]:
data['sat_results'].head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [4]:
# combining survey_all.txt and surve_d75.txt into single dataframe

all_survey = pd.read_csv("survey_all.txt",delimiter="\t",encoding="windows-1252")
d75_survey = pd.read_csv("survey_d75.txt",delimiter="\t",encoding="windows-1252")
survey = pd.concat([all_survey,d75_survey], axis=0)
survey.shape

(1702, 2773)

In [5]:
survey = survey[["dbn", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]]

In [6]:
survey['DBN'] = survey["dbn"]
survey.head()
survey.shape

(1702, 24)

In [7]:
survey.head()

,dbn,rr_s,rr_t,rr_p,N_s,N_t,N_p,saf_p_11,com_p_11,eng_p_11,...,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11,DBN
0,01M015,NaN,88,60,NaN,22.0,90.0,8.5,7.6,7.5,...,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9,01M015
1,01M019,NaN,100,60,NaN,34.0,161.0,8.4,7.6,7.6,...,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4,01M019
2,01M020,NaN,88,73,NaN,42.0,367.0,8.9,8.3,8.3,...,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0,01M020
3,01M034,89.0,73,50,145.0,29.0,151.0,8.8,8.2,8.0,...,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9,01M034
4,01M063,NaN,100,60,NaN,23.0,90.0,8.7,7.9,8.1,...,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0,01M063

In [8]:
data['survey'] = survey

#### we noticed that some of them, like class_size and hs_directory, don't have a DBN column. hs_directory does have a dbn column, though, so we can just rename it.

#### However, class_size doesn't appear to have the column at all. Here are the first few rows of the data set:

In [9]:
data['class_size'].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [10]:
# Here are the first few rows of the sat_results data,
# which does have a DBN column:

data['sat_results'].head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

#### From looking at these rows, we can tell that the DBN in the sat_results data is just a combination of the CSD and SCHOOL CODE columns in the class_size data. The main difference is that the DBN is padded, so that the CSD portion of it always consists of two digits. That means we'll need to add a leading 0 to the CSD if the CSD is less than two digits long. Here's a diagram illustrating what we need to do:

In [11]:
# adding leading zero to csd if length is less than 1

def pad_csd(num):
    string_representation = str(num)
    if len(string_representation) > 1:
        return string_representation
    else:
        return string_representation.zfill(2)
    
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)

In [12]:
#Copy the dbn column in hs_directory into a new column called DBN.

data['hs_directory']['DBN'] = data['hs_directory']['dbn']

In [13]:
data['hs_directory'].head()

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority09,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,NaN,NaN,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680

In [14]:
# adding DBN column in class_Size dataset

data['class_size']['DBN'] =  data['class_size']['padded_csd'] + data['class_size']['SCHOOL CODE']
data['class_size'].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015

###  Combining the SAT Scores

In [15]:
cols = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for c in cols:
    data["sat_results"][c] = pd.to_numeric(data["sat_results"][c], errors="coerce")

data['sat_results']['sat_score'] = data['sat_results'][cols[0]] + data['sat_results'][cols[1]] + data['sat_results'][cols[2]]
data['sat_results'].head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0

In [16]:
import re
res = re.findall("(\d+.\d+, -?\d+.\d+)", "1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)")
res

['40.8276026690005, -73.90447525699966']

In [17]:
import re
def find_lat(lat):
    lat = re.findall("\(.+\)",lat)
    return lat[0].split(',')[0].replace('(',"")
data['hs_directory']['lat'] = data['hs_directory']['Location 1'].apply(find_lat)
data['hs_directory'].head()

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.67029890700047
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.8276026690005
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414068000494
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280,40.71067947100045
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,NaN,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810094000446

In [18]:
import re
def find_lat(lat):
    lat = re.findall("\(.+\)",lat)
    return lat[0].split(',')[1].replace(')',"")
data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(find_lat)
data['hs_directory'].head()

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.67029890700047,-73.96164787599963
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.8276026690005,-73.90447525699966
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414068000494,-73.91616158599965
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280,40.71067947100045,-74.00080702099967
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810094000446,-73.80650045499965

In [19]:
data['hs_directory']['lat'] = pd.to_numeric(data['hs_directory']['lat'],errors = 'coerce')

In [20]:
data['hs_directory']['lon'] = pd.to_numeric(data['hs_directory']['lon'],errors = 'coerce')

In [21]:
data['hs_directory'].head()

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.670299,-73.961648
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.827603,-73.904475
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414,-73.916162
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280,40.710679,-74.000807
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810,-73.806500

In [22]:
#The first data set that we'll condense is class_size
data['class_size'].columns

Index(['CSD', 'BOROUGH', 'SCHOOL CODE', 'SCHOOL NAME', 'GRADE ',
       'PROGRAM TYPE', 'CORE SUBJECT (MS CORE and 9-12 ONLY)',
       'CORE COURSE (MS CORE and 9-12 ONLY)', 'SERVICE CATEGORY(K-9* ONLY)',
       'NUMBER OF STUDENTS / SEATS FILLED', 'NUMBER OF SECTIONS',
       'AVERAGE CLASS SIZE', 'SIZE OF SMALLEST CLASS', 'SIZE OF LARGEST CLASS',
       'DATA SOURCE', 'SCHOOLWIDE PUPIL-TEACHER RATIO', 'padded_csd', 'DBN'],
      dtype='object')

In [23]:
data['class_size']['PROGRAM TYPE'].unique()
data['class_size']['GRADE '].unique()

array(['0K', '01', '02', '03', '04', '05', '0K-09', nan, '06', '07', '08',
       'MS Core', '09-12', '09'], dtype=object)

#### Because we're dealing with high schools, we're only concerned with grades 9 through 12. That means we only want to pick rows where the value in the GRADE column is 09-12.
#### Each school can have multiple program types. Because GEN ED is the largest category by far, let's only select rows where PROGRAM TYPE is GEN ED.

In [24]:
class_size = data['class_size']
bool = (class_size['GRADE '] == "09-12")
class_size = class_size[bool]
class_size = class_size[class_size['PROGRAM TYPE'] == 'GEN ED']

In [25]:
class_size.head(5)

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
225,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63.0,3.0,21.0,19.0,25.0,STARS,NaN,01,01M292
226,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79.0,3.0,26.3,24.0,31.0,STARS,NaN,01,01M292
227,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38.0,2.0,19.0,16.0,22.0,STARS,NaN,01,01M292
228,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69.0,3.0,23.0,13.0,30.0,STARS,NaN,01,01M292
229,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53.0,3.0,17.7,16.0,21.0,STARS,NaN,01,01M292

#### As we saw when we displayed class_size on the last screen, DBN still isn't completely unique. This is due to the CORE COURSE (MS CORE and 9-12 ONLY) and CORE SUBJECT (MS CORE and 9-12 ONLY) columns.
#### CORE COURSE (MS CORE and 9-12 ONLY) and CORE SUBJECT (MS CORE and 9-12 ONLY) seem to pertain to different kinds of classes. For example, here are the unique values for CORE SUBJECT (MS CORE and 9-12 ONLY):

In [26]:
data['class_size']['CORE SUBJECT (MS CORE and 9-12 ONLY)'].unique()

array(['-', nan, 'ENGLISH', 'MATH', 'SCIENCE', 'SOCIAL STUDIES'],
      dtype=object)

#### This column only seems to include certain subjects. We want our class size data to include every single class a school offers -- not just a subset of them. What we can do is take the average across all of the classes a school offers. This will give us unique DBN values, while also incorporating as much data as possible into the average.

In [27]:
import numpy
grouped = class_size.groupby('DBN').agg(numpy.mean)
class_size = grouped
class_size.reset_index(inplace=True)
data['class_size'] = class_size
data['class_size'].head()

,DBN,CSD,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,1,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,1,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,1,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,1,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,1,57.6000,2.733333,21.200000,19.40,22.866667,NaN

#### Now that we've finished condensing class_size, let's condense demographics. The first few rows look like this:

In [28]:
print(data['demographics'].shape)
data['demographics'].head()

(10075, 38)

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

##### In this case, the only column that prevents a given DBN from being unique is schoolyear. We only want to select rows where schoolyear is 20112012. This will give us the most recent year of data, and also match our SAT results data.

In [29]:
bool = data['demographics']['schoolyear'] == 20112012

In [30]:
data['demographics'] = (data['demographics'][bool])

In [31]:
data['demographics'].head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

In [32]:
data['demographics'].shape

(1509, 38)

#### Finally, we'll need to condense the graduation data set. Here are the first few rows:

#### he Demographic and Cohort columns are what prevent DBN from being unique in the graduation data. A Cohort appears to refer to the year the data represents, and the Demographic appears to refer to a specific demographic group. In this case, we want to pick data from the most recent Cohort available, which is 2006. We also want data from the full cohort, so we'll only pick rows where Demographic is Total Cohort.

In [33]:
bool = data['graduation']['Cohort'] == '2006'
data['graduation'] = data['graduation'][bool]
bool = data['graduation']['Demographic'] == 'Total Cohort'
data['graduation'] = data['graduation'][bool]
print(data['graduation'].shape)
data['graduation'].head()

(405, 23)

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1,36,46.2,83.7,...,36,46.2,83.7,7,9,16.3,16,20.5,11,14.1
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7,42,33.9,79.2,...,34,27.4,64.2,11,8.9,20.8,46,37.1,20,16.100000000000001
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8,67,74.400000000000006,95.7,...,67,74.400000000000006,95.7,3,3.3,4.3,15,16.7,5,5.6
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56,40,47.6,85.1,...,23,27.4,48.9,7,8.300000000000001,14.9,25,29.8,5,6
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4,91,47.2,86.7,...,22,11.4,21,14,7.3,13.3,53,27.5,35,18.100000000000001

In [34]:
col = ['AP Test Takers ','Total Exams Taken','Number of Exams with scores 3 4 or 5']
for i in col:
    data['ap_2010'][i] = pd.to_numeric(data['ap_2010'][i], errors='coerce')
data['ap_2010']

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,10.0
1,01M450,EAST SIDE COMMUNITY HS,19.0,21.0,NaN
2,01M515,LOWER EASTSIDE PREP,24.0,26.0,24.0
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,191.0
4,02M296,High School of Hospitality Management,NaN,NaN,NaN
5,02M298,Pace High School,21.0,21.0,NaN
6,02M300,"Urban Assembly School of Design and Construction,",99.0,117.0,10.0
7,02M303,"Facing History School, The",42.0,44.0,NaN
8,02M305,"Urban Assembly Academy of Government and Law, The",25.0,37.0,15.0
9,02M308,Lower Manhattan Arts Academy,NaN,NaN,NaN
10,02M400,HS FOR ENVIRONMENTAL STUDIES,213.0,298.0,152.0
11,02M408,PROFESSIONAL PERFORMING ARTS,20.0,20.0,15.0
12,02M411,BARUCH COLLEGE CAMPUS HS,78.0,115.0,88.0
13,02M412,NYC LAB HS FOR COLL. STUDIES,114.0,140.0,97.0
14,02M413,SCHOOL OF THE FUTURE,11.0,11.0,NaN
15,02M414,NYC MUSEUM SCHOOL,NaN,NaN,NaN
16,02M416,Eleanor Roosevelt High School,155.0,235.0,169.0
17,02M418,Millennium High School,86.0,95.0,67.0
18,02M420,HEALTH PROF & HUMAN SVCS,204.0,248.0,75.0
19,02M425,H S FOR LEADERSHIP & PUBLIC,70.0,84.0,32.0
20,02M429,LEGACY SCHOOL,22.0,26.0,NaN
21,02M439,MANHATTAN VILLAGE ACADEMY HS,42.0,69.0,29.0
22,02M440,HS FOR HUMANITIES,6.0,6.0,NaN
23,02M459,CES-MANHATTAN INTERNATIONAL,12.0,12.0,6.0
24,02M460,WASHINGTON IRVING HS,69.0,83.0,21.0
25,02M475,STUYVESANT HS,1510.0,2819.0,2648.0
26,02M489,HS OF ECONOMICS & FINANCE,101.0,176.0,78.0
27,02M519,TALENT UNLIMITED,30.0,34.0,21.0
28,02M520,MURRY BERGTRAUM H.S.,118.0,157.0,76.0
29,02M529,JACQUELINE K. ONASSIS HS,80.0,118.0,29.0
...,...,...,...,...,...
228,28Q620,THOS A EDISON VHS,183.0,244.0,100.0
229,28Q680,GATEWAY TO HEALTH SCIENCES,89.0,136.0,57.0
230,28Q687,Queens HS for Science York Colllege,215.0,338.0,275.0
231,28Q690,High School for Law Enforcement and Public Safety,19.0,19.0,NaN
232,28Q896,"Young Women's Leadership School, Queens",6.0,6.0,NaN
233,29Q248,Queens Preparatory Academy,15.0,15.0,NaN
234,29Q259,Pathways College Preparatory School: A College...,29.0,71.0,NaN
235,29Q272,George Washington Carver High School for the S...,14.0,21.0,NaN
236,29Q283,Preparatory Academy for Writers,40.0,43.0,NaN
237,29Q420,SPRINGFIELD GARDENS HS,NaN,NaN,NaN
238,29Q492,MATH/SCIENCE RESEARCH TECH CTR,22.0,31.0,8.0
239,29Q496,BUSINESS/COMPUTER APPLICATIONS,NaN,NaN,NaN
240,30Q445,WM CULLEN BRYANT HS,243.0,330.0,97.0
241,30Q450,LONG ISLAND CITY HS,406.0,805.0,169.0
242,30Q501,FRANK SINATRA HIGH SCHOOL,108.0,136.0,38.0
243,30Q502,INFORMATION TECHNOLOGY HS,51.0,74.0,13.0
244,30Q555,NEWCOMERS HS:ACAD AMER STD,119.0,163.0,140.0
245,30Q575,ACADEMY OF AMER. STUDIES HS,101.0,170.0,119.0
246,31R080,PS 080 MICHAEL J. PETRIDES,162.0,243.0,66.0
247,31R440,NEW DORP HS,96.0,118.0,62.0
248,31R445,PORT RICHMOND HS,194.0,304.0,76.0
249,31R450,CURTIS HS,247.0,295.0,90.0
250,31R455,TOTTENVILLE HS,396.0,687.0,206.0
251,31R460,SUSAN E. WAGNER HS,279.0,408.0,175.0
252,31R600,RAPLH MCKEE VHS,NaN,NaN,NaN
253,31R605,STATEN ISLAND TECHNICAL HS,528.0,905.0,809.0
254,32K545,EBC-HS FOR PUB SERVICE (BUSH),47.0,64.0,13.0
255,32K552,Academy of Urban Planning,76.0,100.0,10.0
256,32K554,All City Leadership Secondary School,7.0,8.0,NaN
257,32K556,Bushwick Leaders High School for Academic Exce...,34.0,35.0,18.0

#### Combining the datasets using inner merger so that dbn value from sat_results dont lost

In [35]:
combined = data["sat_results"]
combined = combined.merge(data['ap_2010'],on='DBN',how='left')

In [36]:
combined = combined.merge(data['graduation'],on="DBN", how='left')
combined.shape

(479, 33)

In [37]:
# combining rest of the datasets

cols = ['class_size', 'demographics', 'survey', 'hs_directory']

for i in cols:
    combined = combined.merge(data[i], on='DBN', how='inner')

In [38]:
combined.shape

(363, 166)

#### Handling null values

In [39]:
combined = combined.fillna(combined.mean())

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,lat,lon
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.000000,404.000000,363.000000,1122.000000,NaN,129.028846,197.038462,...,NaN,"220 Henry Street\nNew York, NY 10002\n(40.7137...",3.0,1.0,201.0,1.003223e+06,1.002690e+09,Lower East Side ...,40.713764,-73.985260
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.000000,423.000000,366.000000,1172.000000,UNIVERSITY NEIGHBORHOOD H.S.,39.000000,49.000000,...,NaN,"200 Monroe Street\nNew York, NY 10002\n(40.712...",3.0,1.0,202.0,1.003214e+06,1.002590e+09,Lower East Side ...,40.712332,-73.984797
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.000000,402.000000,370.000000,1149.000000,EAST SIDE COMMUNITY HS,19.000000,21.000000,...,NaN,"420 East 12 Street\nNew York, NY 10009\n(40.72...",3.0,2.0,34.0,1.005974e+06,1.004390e+09,East Village ...,40.729783,-73.983041
3,01M509,MARTA VALLE HIGH SCHOOL,44,390.000000,433.000000,384.000000,1207.000000,NaN,129.028846,197.038462,...,NaN,"145 Stanton Street\nNew York, NY 10002\n(40.72...",3.0,1.0,3001.0,1.004323e+06,1.003540e+09,Chinatown ...,40.720569,-73.985673
4,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.000000,574.000000,525.000000,1621.000000,"NEW EXPLORATIONS SCI,TECH,MATH",255.000000,377.000000,...,NaN,"111 Columbia Street\nNew York, NY 10002\n(40.7...",3.0,2.0,2201.0,1.004070e+06,1.003350e+09,Lower East Side ...,40.718725,-73.979426
5,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624.000000,604.000000,628.000000,1856.000000,NaN,129.028846,197.038462,...,NaN,"525 East Houston Street\nNew York, NY 10002\n(...",3.0,2.0,1002.0,1.004062e+06,1.003250e+09,Lower East Side ...,40.718962,-73.976066
6,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395.000000,400.000000,387.000000,1182.000000,NaN,129.028846,197.038462,...,NaN,"223 East 23 Street\nNew York, NY 10010\n(40.73...",6.0,2.0,64.0,2.587480e+06,2.515083e+09,Gramercy ...,40.738599,-73.982512
7,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409.000000,393.000000,392.000000,1194.000000,NaN,129.028846,197.038462,...,NaN,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1.083802e+06,1.010790e+09,Clinton ...,40.765027,-73.992517
8,02M294,ESSEX STREET ACADEMY,53,394.000000,384.000000,378.000000,1156.000000,NaN,129.028846,197.038462,...,NaN,"350 Grand Street\nNew York, NY 10002\n(40.7168...",3.0,1.0,18.0,1.005283e+06,1.004080e+09,Chinatown ...,40.716867,-73.989532
9,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374.000000,375.000000,362.000000,1111.000000,High School of Hospitality Management,129.028846,197.038462,...,NaN,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1.083802e+06,1.010790e+09,Clinton ...,40.765027,-73.992517
10,02M298,PACE HIGH SCHOOL,85,423.000000,438.000000,432.000000,1293.000000,Pace High School,21.000000,21.000000,...,NaN,"100 Hester Street\nNew York, NY 10002\n(40.716...",3.0,1.0,16.0,1.082489e+06,1.003010e+09,Chinatown ...,40.716412,-73.992676
11,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404.000000,449.000000,416.000000,1269.000000,"Urban Assembly School of Design and Construction,",99.000000,117.000000,...,NaN,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1.083802e+06,1.010790e+09,Clinton ...,40.765027,-73.992517
12,02M303,"FACING HISTORY SCHOOL, THE",76,353.000000,358.000000,340.000000,1051.000000,"Facing History School, The",42.000000,44.000000,...,NaN,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1.083802e+06,1.010790e+09,Clinton ...,40.765027,-73.992517
13,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375.000000,388.000000,385.000000,1148.000000,"Urban Assembly Academy of Government and Law, The",25.000000,37.000000,...,NaN,"350 Grand Street\nNew York, NY 10002\n(40.7168...",3.0,1.0,18.0,1.005283e+06,1.004080e+09,Chinatown ...,40.716867,-73.989532
14,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403.000000,392.000000,405.000000,1200.000000,Lower Manhattan Arts Academy,129.028846,197.038462,...,NaN,"350 Grand Street\nNew York, NY 10002\n(40.7168...",3.0,1.0,18.0,1.005283e+06,1.004080e+09,Chinatown ...,40.716867,-73.989532
15,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373.000000,370.000000,384.000000,1127.000000,NaN,129.028846,197.038462,...,NaN,"26 Broadway\nNew York, NY 10004\n(40.705234939...",1.0,1.0,9.0,1.000811e+06,1.000220e+09,Battery Park City-Lower Manhattan ...,40.705235,-74.013315
16,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391.000000,391.000000,394.000000,1176.000000,NaN,129.028846,197.038462,...,NaN,"40 Irving Place\nNew York, NY 10003\n(40.73551...",6.0,2.0,50.0,1.017828e+06,1.008720e+09,Gramercy ...,40.735519,-73.987604
17,02M376,NYC ISCHOOL,92,473.000000,483.000000,479.000000,1435.000000,NaN,129.028846,197.038462,...,NaN,"131 Avenue\nOf The Americas New York, NY 10013...",2.0,3.0,37.0,1.007378e+06,1.004910e+09,SoHo-TriBeCa-Civic Center-Little Italy ...,40.724353,-74.004759
18,02M392,MANHATTAN BUSINESS ACADEMY,s,404.119403,419.656716,399.662687,1223.438806,NaN,129.028846,197.038462,...,NaN,"351 West 18 Street\nNew York, NY 10011\n(40.74...",4.0,3.0,89.0,1.013096e+06,1.007420e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...,40.742888,-74.002127
19,02M393,BUSINESS OF SPORTS SCHOOL,s,404.119403,419.656716,399.662687,1223.438806,NaN,129.028846,197.038462,...,NaN,"439 West 49Th Street\nNew York, NY 10019\n(40....",4.0,3.0,127.0,1.026646e+06,1.010590e+09,Clinton ...,40.763362,-73.990509
20,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,404.119403,419.656716,399.662687,1223.438806,NaN,129.028846,197.038462,...,NaN,"40 Irving Place\nNew York, NY 10003\n(40.73551...",6.0,2.0,50.0,1.017828e+06,1.008720e+09,Gramercy ...,40.735519,-73.987604
21,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465.000000,493.000000,461.000000,1419.000000,HS FOR ENVIRONMENTAL STUDIES,213.000000,298.000000,...,NaN,"444 West 56 Street\nNew York, NY 10019\n(40.76...",4.0,3.0,139.0,1.026841e+06,1.010650e+09,Clinton ...,40.767762,-73.987511
22,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509.000000,490.000000,523.000000,1522.000000,PROFESSIONAL PERFORMING ARTS,20.000000,20.000000,...,NaN,"328 West 48 Street\nNew York, NY 10036\n(40.76...",4.0,3.0,127.0,1.025092e+06,1.010380e+09,Clinton ...,40.761433,-73.988024
23,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496.000000,563.000000,518.000000,1577.000000,BARUCH COLLEGE CAMPUS HS,78.000000,115.000000,...,NaN,"55 East 25 Street\nNew York, NY 10010\n(40.744...",5.0,2.0,56.0,1.016745e+06,1.008550e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...,40.744047,-73.991479
24,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES,114,537.000000,590.000000,550.000000,1677.000000,NYC LAB HS FOR COLL. STUDIES,114.000000,140.000000,...,NaN,"333 West 17 Street\nNew York, NY 10011\n(40.74...",4.0,3.0,83.0,1.079152e+06,1.007410e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...,40.742101,-74.002074
25,02M414,N.Y.C. MUSEUM SCHOOL,103,468.000000,492.000000,459.000000,1419.000000,NYC MUSEUM SCHOOL,129.028846,197.038462,...,NaN,"333 West 17 Street\nNew York, NY 10011\n(40.74...",4.0,3.0,83.0,1.079152e+06,1.007410e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...,40.742101,-74.002074
26,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,127,572.000000,594.000000,592.000000,1758.000000,Eleanor Roosevelt High School,155.000000,235.000000,...,NaN,"411 East 76 Street\nNew York, NY 10021\n(40.77...",8.0,5.0,132.0,1.045949e+06,1.014710e+09,Lenox Hill-Roosevelt Island ...,40.770116,-73.953379
27,02M418,MILLENNIUM HIGH SCHOOL,144,528.000000,553.000000,533.000000,1614.000000,Millennium High School,86.000000,95.000000,...,NaN,"75 Broad Street\nNew York, NY 10004\n(40.70492...",1.0,1.0,9.0,1.000849e+06,1.000290e+09,Battery Park City-Lower Manhattan ...,40.704920,-74.011514
28,02M419,LANDMARK HIGH SCHOOL,62,390.000000,399.000000,381.000000,1170.000000,NaN,129.028846,197.038462,...,NaN,"351 West 18 Street\nNew York, NY 10011\n(40.74...",4.0,3.0,89.0,1.013096e+06,1.007420e+09,Hudson Yards-Chelsea-Flatiron-Union Square ...,40.742888,-74.002127
29,02M420,HIGH SCHOOL FOR HEALTH PROFESSIONS AND HUMAN S...,336,429.000000,449.000000,428.000000,1306.000000,HEALTH PROF & HUMAN SVCS,204.000000,248.000000,...,NaN,"345 East 15Th Street\nNew York, NY 10003\n(40....",6.0,2.0,48.0,1.020419e+06,1.009220e+09,Gramercy ...,40.732485,-73.983053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,29Q272,GEORGE WASHINGTON CARVER HIGH SCHOOL FOR THE S...,59,436.000000,427.000000,424.000000,1287.000000,George Washington Carver High School for the S...,14.000000,21.000000,...,NaN,143 10 Springfield Boulevard Springfield Garde...,12.0,31.0,330.0,4.280845e+06,4.130570e+09,Springfield Gardens North ...,40.668232,-73.756840
334,29Q283,PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOA...,43,370.000000,367.000000,363.000000,1100.000000,Preparatory Academy for Writers,40.000000,43.000000,...,NaN,143 10 Springfield Boulevard Springfield Garde...,12.0,31.0,330.0,4.280845e+06,4.130570e+09,Springfield Gardens North ...,40.668232,-73.756840
335,29Q326,CAMBRIA HEIGHTS ACADEMY,s,404.119403,419.656716,399.662687,1223.438806,NaN,129.028846,197.038462,...,NaN,"188 04 91St Avenue\nHollis, NY 11423\n(40.7118...",12.0,23.0,480.0,4.222072e+06,4.104430e+09,Jamaica ...,40.711818,-73.771192
336,29Q492,"MATHEMATICS, SCIENCE RESEARCH AND TECHNOLOGY M...",78,400.000000,426.000000,394.000000,1220.000000,MATH/SCIENCE RESEARCH TECH CTR,22.000000,31.000000,...,NaN,207 01 116Th Avenue Cambria Heights\nNY 11411\...,13.0,27.0,53401.0,4.238003e+06,4.110490e+09,Cambria Heights ...,40.695536,-73.734918
337,29Q498,HUMANITIES & ARTS MAGNET HIGH SCHOOL,62,393.000000,381.000000,377.000000,1151.000000,NaN,129.028846,197.038462,...,NaN,207 01 116Th Avenue Cambria Heights\nNY 11411\...,13.0,27.0,53401.0,4.238003e+06,4.110490e+09,Cambria Heights ...,40.695536,-73.734918
338,30Q286,"YOUNG WOMEN'S LEADERSHIP SCHOOL, ASTORIA",s,404.119403,419.656716,399.662687,1223.438806,NaN,129.028846,197.038462,...,NaN,"23 15 Newtown Avenue\nAstoria, NY 11102\n(40.7...",1.0,22.0,69.0,4.440035e+06,4.005420e+09,Old Astoria ...,40.771251,-73.924602
339,30Q301,ACADEMY FOR CAREERS IN TELEVISION AND FILM,98,410.000000,440.000000,405.000000,1255.000000,NaN,129.028846,197.038462,...,NaN,"1 50 51St Avenue\nLong Island City, NY 11101\n...",2.0,26.0,1.0,4.538588e+06,4.000060e+09,Hunters Point-Sunnyside-West Maspeth ...,40.741137,-73.949689
340,30Q445,WILLIAM CULLEN BRYANT HIGH SCHOOL,395,414.000000,449.000000,412.000000,1275.000000,WM CULLEN BRYANT HS,243.000000,330.000000,...,NaN,"48 10 31 Avenue\nAstoria, NY 11103\n(40.758124...",1.0,26.0,163.0,4.013655e+06,4.007380e+09,Astoria ...,40.758125,-73.910333
341,30Q450,LONG ISLAND CITY HIGH SCHOOL,392,403.000000,420.000000,395.000000,1218.000000,LONG ISLAND CITY HS,406.000000,805.000000,...,NaN,"14 30\nBroadway Astoria, NY 11106\n(40.7657639...",1.0,22.0,45.0,4.467709e+06,4.005290e+09,Astoria ...,40.765764,-73.932726
342,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,174,504.000000,496.000000,494.000000,1494.000000,FRANK SINATRA HIGH SCHOOL,108.000000,136.000000,...,NaN,"35 12 35Th Avenue\nAstoria, NY 11106\n(40.7565...",1.0,26.0,57.0,4.009594e+06,4.006390e+09,Astoria ...,40.756528,-73.925141
343,30Q502,INFORMATION TECHNOLOGY HIGH SCHOOL,148,407.000000,434.000000,398.000000,1239.000000,INFORMATION TECHNOLOGY HS,51.000000,74.000000,...,NaN,"21 16 44Th Road\nLong Island City, NY 11101\n(...",2.0,26.0,19.0,4.005184e+06,4.004380e+09,Hunters Point-Sunnyside-West Maspeth ...,40.747924,-73.946566
344,30Q555,NEWCOMERS HIGH SCHOOL,143,323.000000,475.000000,329.000000,1127.000000,NEWCOMERS HS:ACAD AMER STD,119.000000,163.000000,...,NaN,"28 01 41 Avenue\nLong Island City, NY 11101\n(...",1.0,26.0,33.0,4.004874e+06,4.004040e+09,Queensbridge-Ravenswood-Long Island City ...,40.751381,-73.937450
345,30Q575,ACADEMY OF AMERICAN STUDIES,135,487.000000,492.000000,491.000000,1470.000000,ACADEMY OF AMER. STUDIES HS,101.000000,170.000000,...,NaN,"28 04 41 Avenue\nLong Island City, NY 11101\n(...",1.0,26.0,33.0,4.005026e+06,4.004170e+09,Queensbridge-Ravenswood-Long Island City ...,40.751301,-73.937424
346,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524.000000,568.000000,544.000000,1636.000000,NaN,129.028846,197.038462,...,NaN,"34 12 36 Avenue\nAstoria, NY 11106\n(40.755174...",1.0,26.0,55.0,4.009499e+06,4.006340e+09,Queensbridge-Ravenswood-Long Island City ...,40.755175,-73.926824
347,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452.000000,451.000000,450.000000,1353.000000,NaN,129.028846,197.038462,...,NaN,100 Essex Drive Staten Island\nNY 10314\n(40.5...,2.0,51.0,27702.0,5.149609e+06,5.024500e+09,Todt Hill-Emerson Hill-Heartland Village-Light...,40.582022,-74.157848
348,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398.000000,412.000000,385.000000,1195.000000,NaN,129.028846,197.038462,...,NaN,100 Essex Drive Staten Island\nNY 10314\n(40.5...,2.0,51.0,27702.0,5.149609e+06,5.024500e+09,Todt Hill-Emerson Hill-Heartland Village-Light...,40.582022,-74.157848
349,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472.000000,488.000000,466.000000,1426.000000,PS 080 MICHAEL J. PETRIDES,162.000000,243.000000,...,NaN,715 Ocean Terrace Staten Island\nNY 10301\n(40...,2.0,50.0,177.0,5.113169e+06,5.006830e+09,Todt Hill-Emerson Hill-Heartland Village-Light...,40.607453,-74.101482
350,31R440,NEW DORP HIGH SCHOOL,391,424.000000,437.000000,416.000000,1277.000000,NEW DORP HS,96.000000,118.000000,...,NaN,465 New Dorp Lane Staten Island\nNY 10306\n(40...,2.0,50.0,11202.0,5.055367e+06,5.039300e+09,New Dorp-Midland Beach ...,40.569182,-74.107301
351,31R445,PORT RICHMOND HIGH SCHOOL,271,424.000000,438.000000,417.000000,1279.000000,PORT RICHMOND HS,194.000000,304.000000,...,NaN,85 St Josephs Avenue Staten Island\nNY 10302\n...,1.0,49.0,213.0,5.026076e+06,5.011210e+09,Port Richmond ...,40.633843,-74.142107
352,31R450,CURTIS HIGH SCHOOL,375,437.000000,435.000000,429.000000,1301.000000,CURTIS HS,247.000000,295.000000,...,NaN,105 Hamilton Avenue Staten Island\nNY 10301\n(...,1.0,49.0,7.0,5.106483e+06,5.000220e+09,West New Brighton-New Brighton-St. George ...,40.644745,-74.081341
353,31R455,TOTTENVILLE HIGH SCHOOL,807,462.000000,486.000000,470.000000,1418.000000,TOTTENVILLE HS,396.000000,687.000000,...,NaN,100 Luten Avenue Staten Island\nNY 10312\n(40....,3.0,51.0,198.0,5.082634e+06,5.066130e+09,Annadale-Huguenot-Prince's Bay-Eltingville ...,40.528229,-74.192154
354,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455.000000,474.000000,459.000000,1388.000000,SUSAN E. WAGNER HS,279.000000,408.000000,...,NaN,1200 Manor Road Staten Island\nNY 10314\n(40.5...,2.0,50.0,181.0,5.146639e+06,5.009550e+09,Todt Hill-Emerson Hill-Heartland Village-Light...,40.598652,-74.123105
355,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416.000000,422.000000,397.000000,1235.000000,RAPLH MCKEE VHS,129.028846,197.038462,...,NaN,290 St Marks Place Staten Island\nNY 10301\n(4...,1.0,49.0,9.0,5.000314e+06,5.000190e+09,West New Brighton-New Brighton-St. George ...,40.642741,-74.078711
356,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635.000000,682.000000,636.000000,1953.000000,STATEN ISLAND TECHNICAL HS,528.000000,905.000000,...,NaN,485 Clawson Street Staten Island\nNY 10306\n(4...,2.0,50.0,134.0,5.107621e+06,5.042440e+09,New Dorp-Midland Beach ...,40.567913,-74.115362
357,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380.000000,366.000000,352.000000,1098.000000,NaN,129.028846,197.038462,...,NaN,"400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...",4.0,37.0,435.0,3.076908e+06,3.033650e+09,Bushwick North ...,40.696962,-73.910816
358,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384.000000,409.000000,361.000000,1154.000000,EBC-HS FOR PUB SERVICE (BUSH),47.000000,64.000000,...,NaN,"1155 Dekalb Avenue\nBrooklyn, NY 11221\n(40.69...",4.0,34.0,393.0,3.073462e+06,3.032300e+09,Bushwick South ...,40.694482,-73.929154
359,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348.000000,353.000000,334.000000,1035.000000,NaN,129.028846,197.038462,...,NaN,"400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...",4.0,37.0,435.0,3.076908e+06,3.033650e+09,Bushwick North ...,40.696962,-73.910816
360,32K552,ACADEMY OF URBAN PLANNING,67,342.000000,364.000000,354.000000,1060.000000,Academy of Urban Planning,76.000000,100.000000,...,NaN,"400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...",4.0,37.0,435.0,3.076908e+06,3.033650e+09,Bushwick North ...,40.696962,-73.910816
361,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.000000,465.000000,422.000000,1315.000000,All City Leadership Secondary School,7.000000,8.000000,...,NaN,"321 Palmetto Street\nBrooklyn, NY 11237\n(40.6...",4.0,37.0,433.0,3.413715e+06,3.033440e+09,Bushwick North ...,40.697408,-73.913153
362,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347.000000,358.000000,350.000000,1055.000000,Bushwick Leaders High School for Academic Exce...,34.000000,35.000000,...,NaN,"797 Bushwick Avenue\nBrooklyn, NY 11221\n(40.6...",4.0,34.0,393.0,3.073761e+06,3.032420e+09,Bushwick South ...,40.694996,-73.927986

In [40]:
combined = combined.fillna(0)

In [41]:
combined.isnull().any()

DBN                                     False
SCHOOL NAME                             False
Num of SAT Test Takers                  False
SAT Critical Reading Avg. Score         False
SAT Math Avg. Score                     False
SAT Writing Avg. Score                  False
sat_score                               False
SchoolName                              False
AP Test Takers                          False
Total Exams Taken                       False
Number of Exams with scores 3 4 or 5    False
Demographic                             False
School Name                             False
Cohort                                  False
Total Cohort                            False
Total Grads - n                         False
Total Grads - % of cohort               False
Total Regents - n                       False
Total Regents - % of cohort             False
Total Regents - % of grads              False
Advanced Regents - n                    False
Advanced Regents - % of cohort          False
Advanced Regents - % of grads           False
Regents w/o Advanced - n                False
Regents w/o Advanced - % of cohort      False
Regents w/o Advanced - % of grads       False
Local - n                               False
Local - % of cohort                     False
Local - % of grads                      False
Still Enrolled - n                      False
                                        ...
partner_corporate                       False
partner_financial                       False
partner_other                           False
addtl_info1                             False
addtl_info2                             False
start_time                              False
end_time                                False
se_services                             False
ell_programs                            False
school_accessibility_description        False
number_programs                         False
priority01                              False
priority02                              False
priority03                              False
priority04                              False
priority05                              False
priority06                              False
priority07                              False
priority08                              False
priority09                              False
priority10                              False
Location 1                              False
Community Board                         False
Council District                        False
Census Tract                            False
BIN                                     False
BBL                                     False
NTA                                     False
lat                                     False
lon                                     False
Length: 166, dtype: bool